In [3]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\python311\lib\site-packages (2.9.6)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

# Import the library

In [4]:
import psycopg2

## Create connection to the database

In [21]:
try:
    conn = psycopg2.connect("dbname=postgres user=postgres password=root port=5432 host=localhost")
#     conn = psycopg2.connect(database="postgres", user="postgres", password="root", port="5432", host="localhost")
    print("connection successful",conn)
except psycopg2.Error as e:
    print("Error Could not make connection to the postgres database")
    print(e)

connection sucessful <connection object at 0x0000018F51DA3AB0; dsn: 'user=postgres password=xxx dbname=postgres host=localhost port=5432', closed: 0>

# # use the connection to get a cursor that can be used to execute queries.

In [22]:
try:
    cursor = conn.cursor()
    print("cursor ready:-",cursor)
except psycopg2.Error as e:
    print("Could not get cursor to the database")
    print(e);

cursor ready:- <cursor object at 0x0000018F5230D7E0; closed: 0>

# # set automatic commit to be true so that each action is committed without having to call conn.commit() after each command.

In [23]:
conn.set_session(autocommit=True);

# Create a database to do the work in

In [25]:
try:
    db = cursor.execute("CREATE DATABASE myfirstdb");
    print("database:-",db)
except psycopg2.Error as e:
    print("Error",e)

Error database "myfirstdb" already exists

# Add the database name in the connect statement. Let's close our connection to the default database, reconnect to the new database, and get  new cursor.

In [6]:
# close connection to the "postgres" database 
# try:
#     conn.close()
# except psycopg2.Error as e:
#     print(e)

# connect to the newly created database "myfirstdb"
try:
    conn = psycopg2.connect("dbname=myfirstdb user=postgres password=root port=5432 host=localhost")
    print("connection successful!",conn)
except psycopg2.Error as e:
    print("Error occured!")
    print(e)

# use cursor to execute queries
try:
    cur = conn.cursor()
    print("cursor:-",cur)
except psycopg2.Error as e:
    print("Error occured not able to get cursor",e)
    
# set connection to autocommit to true 
conn.set_session(autocommit=True)

connection successful! <connection object at 0x0000015F935D1470; dsn: 'user=postgres password=xxx dbname=myfirstdb host=localhost port=5432', closed: 0>
cursor:- <cursor object at 0x0000015F93B5DD20; closed: 0>

## Create Table for students which includes below columns

student_id
name
age
gender
subject
marks

In [44]:
command = (
    """
        CREATE TABLE IF NOT EXISTS students(
            student_id INT,
            name VARCHAR(40),
            age INT,
            subject VARCHAR(20),
            gender VARCHAR(2),
            marks INT
        );
    """
)
try:
    cur.execute(command)
    print("Table Created Successfully!")
    
except psycopg2.Error as e:
    print("Error occured:-",e)

Table Created Successfully!

## Insert the following two rows in the table

First Row:1 "Raj",23,"M","Python",85
Second Row:2 "Priya", 22,"Female","Python",86

In [7]:
try:
    cur.execute("INSERT INTO students (student_id,name,age,gender,subject,marks) \
                 VALUES(%s, %s, %s, %s, %s, %s)", \
                   (1,"Raj",23,"M","Python",85));
    print("values inserted!")
except pysycopg2.Error as e:
    print("Error occured:-",e);
    
try:
    cur.execute("INSERT INTO students (student_id,name,age,gender,subject,marks) \
                 VALUES(%s, %s, %s, %s, %s, %s)", \
                   (2,"Priya",22,"F","Python",86));
    print("values inserted")
except pysycopg2.Error as e:
    print("Error occured:-",e);

values inserted!
values inserted

## Validate your data was inserted into the table.

In [9]:
try:
    cur.execute("SELECT * FROM students;")
except psycopg2.Error as e:
    print("Error occured:-", e)
    
row =  cur.fetchone()
while row :
    print(row)
    row =  cur.fetchone()

(1, 'Raj', 23, 'M', 85, 'Python')
(2, 'Priya', 22, 'F', 86, 'Python')
(1, 'Raj', 23, 'M', 85, 'Python')
(2, 'Priya', 22, 'F', 86, 'Python')

## And finally close your cursor and connection.

In [10]:
cur.close()
conn.close()